async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
cloudscraper
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
m3u8
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
streamlink
wget
